body {
    background-color: #f4f4f4;
    font-family: Cambria, serif;
    font-size: 1.2rem;
    color: #333;
    margin: 0;
    padding: 0;
}

.menu {
    text-align: center;
    padding: 15px;
    background-color: #9ac08e;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.2s ease;
}

.menu a:hover {
    color: #49ba8f;
    transform: scale(1.1);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.conteudo article {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 1200px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    margin: 20px auto;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.content-wrapper img {
    margin-right: 20px;
    width: 200px;
    height: auto;
    object-fit: contain;
}

.videos {
    text-align: center;
    padding: 20px;
}

.videos iframe {
    max-width: 100%;
    height: auto;
    border: none;
}

footer {
    background-color: #49ba8f;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    width: 100%;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .menu li {
        display: block;
        margin: 10px 0;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .conteudo article {
        max-width: 90%;
        margin-bottom: 20px;
    }

    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .content-wrapper img {
        margin-right: 0;
        width: 100%;
        max-width: 300px;
    }
}